@reference '../tw.css';

.new-todo-form {
  @apply flex flex-col items-center justify-around space-y-6 mx-1 my-2 py-2 px-3 w-fit;
}

.submit-form-btn {
  @apply rounded-b-lg px-4 mx-4 bg-amber-700 dark:bg-amber-500 shadow-md hover:shadow-current;
}

.reset-form-btn {
  @apply rounded-t-lg px-4 mx-4 shadow-md hover:shadow-current dark:bg-sky-800 bg-teal-300;
}

.form-operation-btns-block {
  @apply px-2 w-full items-stretch flex flex-col space-y-0.5;
}

.name-block {
  @apply rounded-lg py-2;
}

.due-block {
  @apply rounded-lg py-2;
}

.desc-block {
  @apply grid grid-cols-1 rounded-xl py-2 px-3 mx-0.5 my-4 border-2 border-indigo-400 dark:border-indigo-800  dark:focus-within:border-amber-100 focus-within:border-amber-700 focus-within:bg-amber-300 dark:focus-within:bg-indigo-700 shadow-lg dark:focus-within:shadow-lime-900 focus-within:shadow-current;
}

label,
button {
  @apply font-bold font-mono text-lg text-teal-900 dark:text-teal-300;
}

.custom-date-picker {
  @apply dark:text-amber-400 shadow-md focus:outline-none block w-full rounded-md px-1 py-2;
  position: relative;
}

.custom-date-picker::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 20px;
  height: 100%;
  cursor: pointer;
}
